Разработать программу, позволяющую шифровать и расшифровывать текст с использованием шифра Цезаря.
Программа должна поддерживать несколько режимов работы:
 -обеспечивать обработку больших файлов
 -иметь валидацию входных данных.

 Опционально:
  -можно добавить графический интерфейс пользователя
  -статистический анализ для автоматического взлома шифра.